.country-details-container {
  /* background-color: rgba(249, 249, 250, 0.527);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details-container {
  padding: 20px;
  margin: 15px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-details-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 10px;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  text-align: center;
}

.country-flag-container {
  /* box-shadow: 10px 4px 20px 10px rgba(0, 0, 0, 0.25);  */
  text-align: center;
}

.country-details-image {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
  justify-content: center;
}

/* .country-details-fields-first{
  border-top: 1px solid #E6E6E6;
  margin-top: 15px; 
  padding-top: 30px; 
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
} */

.country-details-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.country-details-label {
  text-align: left;
  margin-right: 15px;
  margin-top: 15px;
}

.field {
  flex: 1;
  background: #F0F0F5;
  border-radius: 5px;
  border: 1;
  border-color: #eeeef1;
  padding: 10px 18px;
  font-size: 16px;
  color: #6C6C80;
  width: 300px;
}

.field:focus {
  background: #f8f5f5;

}

form button {
  width: 200px;
  height: 43px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

form button:hover {
  background: #8face6;
}

.button-back {
  width: 160px;
  height: 34px;
  background: #ebeef5;
  border-radius: 8px;
  color: rgb(1, 30, 161);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 15px;
  align-self: flex-end;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button-back:hover {
  background: #d1daec;
}

.detail-navbar{
  height: 60px;;
  background-color: var(--primary-color);
  padding-left: 20px;
  /* display: flex; */
  align-items: left;
  margin-bottom: 20px;
  justify-content: left;
}
