.ist-container {
  display: flex;
  justify-content: center;
}

.list-items {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px 10px;
  justify-content: space-between;
  margin-left: 15px;
}

.country-card-container {
  background-color: rgba(249, 249, 250, 0.527);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
}

.country-card-container:hover {
  transform: scale(1.01);
}

.country-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  text-align: center;
}

.country-card-image {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

.country-card-description {
  text-align: center;
  border-top: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-top: 15px;
}

.country-card-description h3 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: var(--secondary-color);
}

.country-card-description p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;

  color: var(--secondary-color);
}

.country-location-container {
  display: flex;
  justify-content: center;
}