@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #6491cc;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.main-navbar{
  height: 50px;;
  background-color: var(--primary-color);
  /* padding-left: 15px; */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-container {
  display: flex;
  margin-top: 20px;
}

.filter {
    flex: 1;
    background: #F0F0F5;
    border-radius: 5px;
    border: 0;
    padding: 10px 24px;
    font-size: 16px;
    color: #6C6C80;
    margin-bottom: 20px;
    width: 300px;
}
